body
{
    text-align: center;
    font-family: "Courier";
    color:darkblue;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid crimson;
    margin: 0 auto;
}
#container h1
{
font-size: 20px;
}